h1{
    color: blue;
    text-align: center;
}
p{
    color: darkred;
    text-align: center;
}




.box2{
    text-align: center;
}
.box{
    text-align: center;
    
}
.box2{
    text-align: end;   
}
